//颜色定义
$COLOR_BLANK : #fff !default
$COLOR_BASE : #0066b1 !default


//常用样式定义
.text-center
  text-align: center

body
  font-family: Verdana,Arial,Helvetica,sans-serif
  margin: 0
  background-color: $COLOR_BLANK

footer
  color: $COLOR_BLANK
  position: fixed
  bottom: 0px
  left: 0
  right: 0
  background-color: $COLOR_BASE

footer div
  height: 30px
  line-height: 30px
  text-align: center


