<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <context:property-placeholder location="classpath:iss.properties"/>
    <context:component-scan base-package="com.db.iss.launcher"/>

    <bean id="compressorProvider" class="com.db.iss.core.compressor.CompressorProvider">
        <property name="type" value="lz4"/>
    </bean>
    <bean id="serializerProvider" class="com.db.iss.core.serializer.SerializerProvider">
        <property name="type" value="json"/>
    </bean>
    <bean id="configManager" class="com.db.iss.core.cm.DefaultConfigManager" init-method="connectZkServer" lazy-init="false">
        <property name="registry" value="${iss.registry}"/>
        <property name="node" value="${iss.node}"/>
        <property name="pipe" value="transportPlugin|loggerPlugin|dispatcherPlugin"/>
    </bean>

    <bean id="registry" class="com.db.iss.core.registry.DefaultRegistry" init-method="connectZkServer" lazy-init="false"/>


    <bean id="transportPlugin" class="com.db.iss.cluster.mina.MinaTransportPlugin">
        <property name="configManager" ref="configManager"/>
        <property name="registry" ref="registry"/>
        <property name="serializerProvider" ref="serializerProvider"/>
        <property name="compressorProvider" ref="compressorProvider"/>
    </bean>

    <bean id="loggerPlugin" class="com.db.iss.logger.LoggerPlugin">
        <property name="configManager" ref="configManager"/>
    </bean>

    <bean id="dispatcherPlugin" class="com.db.iss.dispatcher.DispatcherPlugin">
        <property name="configManager" ref="configManager"/>
        <property name="registry" ref="registry"/>
        <property name="serializerProvider" ref="serializerProvider"/>
        <property name="compressorProvider" ref="compressorProvider"/>
    </bean>

    <bean id="remoteServiceProvider" class="com.db.iss.dispatcher.spring.DefaultRemoteServiceProvider">
        <property name="messageSend" ref="dispatcherPlugin"/>
        <property name="serializerProvider" ref="serializerProvider"/>
    </bean>

    <bean id="bootstrap" class="com.db.iss.core.Bootstrap">
        <property name="configManager" ref="configManager"/>
    </bean>

</beans>